/** CSS RESETS **/

/* 1. Reset margin/padding + Border-Box Model */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. Améliorer le rendu du texte */
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

/* 3. Améliorer les média par défaut car (img = par défaut inline) => Responsive */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 4. Supprimer le style de typo de base */
input, button, textarea, select {
    font: inherit;
}

/* 5. Eviter l'overflow des textes même avec des petites viewport */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/** CSS GENERAL **/

html {
	font-size: 62.5%;  /* 1rem = 10px */
    font-family:'Kumbh Sans', sans-serif;
}

body { /* Centrer la carte */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 350px;
    border-radius: 10px;
    background-color: white;
}

h1 {
    text-align: center;
    margin-top: -3.5rem;
}

p {
    text-align: center;
    font-size: 1.5rem;
    color:hsl(227, 10%, 46%);
    margin-bottom: 2rem;
}

.age {
    color:hsl(227, 10%, 46%);
    font-weight: 400;
    padding-left: 1rem;
}

svg {
    border-radius: 10px 10px 0 0;
}

/** VERSION 2 : BACKGROUND EFFECT **/

body { /* créer un background en position relative qui va permettre d'utiliser le z-index */
    position: relative; 
    background: hsl(185, 75%, 39%);
    z-index: -1; 
}

body::before, body::after {
    position: absolute; /* sort du flux de la page */
    content: ''; /* pas de contenu */
    width: 100vw; /* donne une taille */
    height: 100vh; /* donne une taille */
    background-size: auto;
    transform: translate(-50%, -50%);
    z-index: -1; /* placer derrière le texte */
}

body::before {
    top: 0; /* position haut gauche */
    left: 0;
    background: url("images/bg-pattern-top.svg") no-repeat bottom right;
}

body::after {
    top: 100%; /* position bas gauche */
    left: 100%;
    background: url("images/bg-pattern-bottom.svg") no-repeat top left;
}

/** CSS IMAGES **/

.img-card {
    border-radius: 50px;
    border: 5px solid white;
    margin: auto; /* pour centrer l'image */
    position: relative; /* pour déplacer l'image vers le haut, au dessus du svg */
    top: -50px;
}

/** CSS STATS **/

.bold {
    font-weight: 700;
    font-size: 1.8rem;
}

.gray {
    color:hsl(227, 10%, 46%);
    letter-spacing: 0.2rem;
}

.stats {
    list-style: none;
    border-top: 0.5px solid hsl(0, 0%, 76%);
    text-align: center;
}

li {
    display: inline-block;
    text-align: center;
    margin: 2rem 3rem;
}

.block {
    display: block;
}
